<div style="display: none;" class='content my-work' elemId="contentMyWork">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Here is some of my work:</h1>
      </div>
      <div class="col-6">
        <img src="{{myWork.0.gif}}" alt="work gif" elemId="workGif">
      </div>
      <div class="col-6 work-info" elemId="myWorks">
        {{#each myWork}}
          <div>
            <h1>{{this.projectName}}</h1>
            {{#if @first}}
              <p class="show">{{this.description}}</p>
            {{else}}
              <p>{{{this.description}}}
                {{#if href}}
                  <a href="{{href.link}}" target="_blank">{{href.title}}</a>
                {{/if}}
              </p>
            {{/if}}
            <input type="hidden" value="{{this.gif}}">
          </div>
        {{/each}}
      </div>
    </div>
    <button elemId="returnMyWorkBtn" class="btn btn-primary">Return</button>
  </div>
</div>